<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738377823553-cpj96eac74oovdotie9iktqb39vv000g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738377823553-cpj96eac74oovdotie9iktqb39vv000g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>738377823553-695rok7cbuaha6179dol0u43ekeb2te1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1QjGJiaOtEO0OVPCQSPgYbjsoGQPMEdY</string>
	<key>GCM_SENDER_ID</key>
	<string>738377823553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.abanapps.regaltimestore</string>
	<key>PROJECT_ID</key>
	<string>qr-circle</string>
	<key>STORAGE_BUCKET</key>
	<string>qr-circle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738377823553:ios:0a58d79f417f4b182e1dc0</string>
	<key>DATABASE_URL</key>
	<string>https://qr-circle-default-rtdb.firebaseio.com</string>
</dict>
</plist>